<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyMedicine</title>
    <!-- reset.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search_main.css') }}" />
    <script src="{{ url_for('static', filename='js/jquery-3.5.0.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/common.js') }}" ></script>
</head>
<body>
<div id="login">
    <div id="login_box">
        <form id="form" name="form" action = "./login_action" method = "POST">
        <table cellpadding="0" cellspacing="0" border="0" id="tbl_login">
            <tr class="tr1">
                <td colspan="2">
                    <P class="align_center"><img src="{{ url_for('static', filename='images/logo_finditem.gif') }}" alt="logo find item">내 판매약 찾기</P>
                </td>
            </tr>
            <tr class="tr2">
                <td clas="td1">
                    <input type="text" id="user_id" name="user_id" placeholder="아이디" tabindex="1"/>
                </td>
                <td clas="td2" rowspan="2">
                    {% if version_check %}
                    <a href="javascript:login_action()" id="btn_login" tabindex="3">로그인</a>
                    {% else %}
                    <a href="javascript:download_action()" id="btn_login" tabindex="3">다운로드</a>
                    {% endif %}
                </td>
            </tr>
            <tr class="tr3">
                <td clas="td1">
                    <input type="password" id="user_pw"  name="user_pw" placeholder="비밀번호" tabindex="2" />
                </td>
            </tr>
        </table>
        </form>
    </div>
    <p class="copyright">Copyright 2020. SONG All Pictures Cannot Be Copied Wihour Permission.</p>
</div>
{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<!--{{ message }}-->
	<script>
		alert('{{message}}')   //이 부분이 중요
	</script>
	{% endfor %}
	{% endif %}
{% endwith %}
<script>

function login_action(){
    var user_id = $("#user_id").val();
    var user_pw = $("#user_pw").val();
    if(isNull(user_id) || isNull(user_pw) ){
        alert("ID / PW 값이 입력되지 않았습니다.");
        return;
    }
    if(user_pw == "1234" ){
        alert("로그인 후 비밀번호를 변경해주세요.");
    }

    form.submit();

}

function download_action(){
     window.location.href = "http://www.naver.com";
}

$("input").keydown(function(key) {
    if (key.keyCode == 13) {
       login_action();
    }
});
</script>
</body>
</html>