 {% include 'header.html' %}
    <div id="main_body">
 {% include 'nav.html' %}
        <div id="contents">
            <div class="popup" id="upload_popup">
                <div class="popup_wrap">
                    <p class="popup_title">새로운 파일 업로드 쿼리문(관리자만가능) <a id="btn_close" href="javascript:close_pop()"><img src="{{ url_for('static', filename='images/btn_close.png') }}" alt="close"></a></p>
                    <div class="popup_contents">
                        <form id="form" name="form" action = "./listupload" method = "POST" enctype="multipart/form-data">
                            <p class="infomation">* <span class="font_bold">컬럼명</span>을 맞게 올리지 않으면 업로드 코드 생성이 제대로 이루어지지 않습니다. 반드시 확인하세요.</p>
                            <p class="upload_p">
                                <input type="file" name="file" id="upload_file">
                                <a href="javascript:action_upload()" class="btn1" >올리기</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>


            <p class="page_title">나의 약 리스트 ( <span id="total_cnt">0</span>)
                {% if session['level'] < 1 %}
                <a class="btn1" href="javascript:new_upload();">새로운업로드</a> <a class="btn2"  title="다운로드되는 엑셀 양식과 같게 업로드 해주세요." href="{{ url_for('static', filename='images/ex_upload.xlsx') }}">올리는법</a>
                {% endif %}
            </p>
            <table cellpadding="0" cellspacing="0" botder="0" id="my_list">
                <colgroup>
                    <col width="5%">
                    <col width="15%">
                    <col width="5%">
                    <col width="20%">
                    <col width="15%">
                    <col width="10%">
                    <col width="10%">
                    <col width="5%">
                    <col width="8%">
                    <col width="5%">
                    <col width="5%">
                </colgroup>
                <tr class="tr1">
                    <td class="td1">복지분류</td>
                    <td class="td2">대분류<span style="font-size:12px; color:#999;">(소분류)</span><br/> / 종류</td>
                    <td class="td5">급여구분</td>
                    <td class="td6">성분/함량</td>
                    <td class="td7">제품명</td>
                    <td class="td8">제조사명</td>
                    <td class="td9">대조약</td>
                    <td class="td10 align_right">약가</td>
                    <td class="td11">보험총구코드</td>
                    <td class="td12">포장<br/>단위</td>
                    <td class="td13 align_right">요율</td>
                </tr>
                {% for items in result %}
                <tr class="tr2">
                    <td class="td1" rowspan="2">{% print(items[1]) %}</td>
                    <td class="td2">{% print(items[2]) %}<span style="font-size:12px; color:#999;">({% print(items[3]) %})</span><br/> / {% print(items[4]) %}</td>
                    <td class="td5">{% print(items[5]) %}</td>
                    <td class="td6">{% print(items[6]) %}</td>
                    <td class="td7"><a href="javascript:myMediView({{items[0]}});">{% print(items[7]) %}</a></td>
                    <td class="td8">{% print(items[8]) %}</td>
                    <td class="td9">{% print(items[9]) %}</td>
                    <td class="td10">{% print(items[10]) %}</td>
                    <td class="td11">{% print(items[11]) %}</td>
                    <td class="td12">{% print(items[12]) %}</td>
                    <td class="td13">{% print(items[13]) %}</td>
                </tr>
                <tr class="tr2">
                    <td class="td14" colspan="10" style="font-weight:bold;">{% print(items[14]) %}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
 <script>
    $( document ).ready(function() {
         var total_cnt = $(".tr2").length / 2;
         $("#total_cnt").text(total_cnt + "건");

    });
     function new_upload(){
        $("#upload_popup").show();
     }
     function action_upload(){
         loading();
         form.submit();
     }

 </script>
 {% include 'footer.html' %}